.contextMenu {
    color: rgba(83, 83, 83, 0.925);
    border: 1px solid #dedede;
    display: block;
    width: 150px !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contextMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px !important;
}

.contextMenu ul>li {
    margin: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    width: 148px !important;
    padding: 5px;
    border-top: 1px solid #dedede !important;
    border-bottom: 0px !important;
}

.contextMenu ul>li:hover {
    color: rgba(19, 19, 19, 0.925);
    background-color: #fffef1;

}