.popup {
    width: 100%;
    height: 100%;
    background-color: #01010139;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

@keyframes fadeIn {
    0% {
        top: 28%;
    }

    100% {
        top: 30%;
    }
}

/* .popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: #fff; 
}

*/
.popup-inner {
    color: #454b4b;
    width: 500px;
    /* height: 300px; */


    background-color: #f9fdfd;
    border: 1px solid #9db7e870;
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 8px 8px 24px 0px rgb(213, 216, 243);
    -moz-box-shadow: 8px 8px 24px 0px rgb(213, 216, 243);
    box-shadow: 8px 8px 24px 0px rgba(81, 81, 81, 0.77);
    border-radius: 5px;

    animation: fadeIn 0.5s;
}

.close-btn {
    border: 0px;
    padding: 10px;
    background-color: #d1d1d1;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

header h2 {
    font-family: sans-serif;
    padding-bottom: 30px;

}

.popup-content {
    padding-bottom: 30px;
}